<h1>INSERTAR NUEVAS PERSONAS</h1>
<form method="POST" action="">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email">
    </div>
    <div class="form-group">
        <div class="col-sm-12 text-center">
            <button class="btn btn-success" type="submit">Insertar</button>
        </div>
    </div><br>
</form>
